body	{
	background-color: #242434;
	font-family: 'Cultive Mono', monospace;
}
div	{
	color: #6C7C9C;
}
.navbarBg {
	background-color: #5A4669;
}
.conHover:hover{
	color: #6C7C9C;
	transform: scale(1.1);
	transition: all 200ms ease-in-out;
}
a.nav-link {
	font-size: 12px;
}
.logo {
	color: #D9C7E8;
	font-size: 45px;
}
.title {
	color: #D9C7E8;
	font-size: 22px;
}
.subtitle {
	color: #6C7C9C;
	font-size: 12px;
}
span.name {
	font-size: 12px;
}
div.dashed {
	border-style: dashed;
	border-color: #D9C7E8;
}
a {
	text-decoration: none;
}
.footer {
	font-size: 10px;
}
@media all and (min-width: 768px) and (max-width: 1024px){
	a.nav-link {
		font-size: 14px;
 	}
 	.logo {
		font-size: 65px;
	}
	.title {
		font-size: 28px;
	}
	.subtitle {
		font-size: 16px;
	}
	span.name {
		font-size: 14px;
	}
	.footer {
		font-size: 12px;
	}
}
@media all and (min-width: 1024px){
	a.nav-link {
		font-size: 16px;
 	}
 	.logo {
		font-size: 80px;
	}
	.title {
		font-size: 40px;
	}
	.subtitle {
		font-size: 20px;
	}
	span.name {
		font-size: 16px;
	}
	.footer {
		font-size: 15px;
	}
}