.font-size-s-s {
  font-size: 12px; }

.font-size-s-m {
  font-size: 22px; }

.font-size-s-l {
  font-size: 45px; }

.font-size-m-s {
  font-size: 14px; }

.font-size-m-m {
  font-size: 16px; }

.font-size-m-l {
  font-size: 28px; }

.font-size-m-xl {
  font-size: 65px; }

.font-size-l-m {
  font-size: 20px; }

.font-size-l-l {
  font-size: 40px; }

.font-size-l-xl {
  font-size: 80px; }

body {
  font-family: 'Cultive Mono', monospace;
  background-color: #242434; }

.navbarBg {
  background-color: #5A4669; }

.conHover:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 30px #121217, -10px -10px 30px #121217; }

.navbar-nav .nav-item .nav-link {
  color: #D9C7E8; }
  @media all and (min-width: 992px) {
    .navbar-nav .nav-item .nav-link {
      transition: all 300ms ease-in-out; }
      .navbar-nav .nav-item .nav-link:hover {
        color: #242434;
        transform: scale(1.2); } }
  .navbar-nav .nav-item .nav-link.active {
    color: #242434; }

a.nav-link {
  font-size: 12px;
  color: #D9C7E8; }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    a.nav-link {
      font-size: 14px; } }
  @media all and (min-width: 1024px) {
    a.nav-link {
      font-size: 16px; } }

.homeLogo {
  width: 50px;
  height: 50px; }

.logo {
  padding-top: 10px;
  color: #D9C7E8;
  text-align: center;
  padding-bottom: 10px;
  font-size: 45px; }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .logo {
      font-size: 65px; } }
  @media all and (min-width: 1024px) {
    .logo {
      font-size: 80px; } }

@keyframes anima {
  0% {
    top: 75%; }
  100% {
    top: 0;
    transform: rotateY(360deg); } }

div {
  color: #6C7C9C;
  /*arte desktop*/
  /*fin grid arte desktop*/ }
  div.caja {
    width: 100%;
    height: 50px;
    position: relative; }
    div.caja .anima {
      left: 48%;
      position: absolute;
      width: 50px;
      height: 50px;
      animation-name: anima;
      animation-iteration-count: 1;
      animation-duration: 1s; }
  div.dashed {
    padding: 10px;
    padding-top: 20px;
    border-style: dashed;
    border-color: #D9C7E8;
    border-radius: 50px; }
  div p.izquierdaTitulo {
    padding: 0.5rem; }
  div p.top {
    margin-top: 1.5rem; }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    div p.topb {
      margin-top: 7rem; } }
  @media all and (min-width: 1024px) {
    div p.topb {
      margin-top: 9rem; } }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    div p.topl {
      margin-top: 10rem; } }
  @media all and (min-width: 1024px) {
    div p.topl {
      margin-top: 12rem; } }
  div.medio {
    max-height: 50%;
    margin-top: 50px; }
  div.rowContacto {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%; }
  div.rowDesktop {
    display: grid;
    grid-template-columns: repeat(1, 1fr); }
    @media all and (min-width: 768px) and (max-width: 1024px) {
      div.rowDesktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
        width: 100%; } }
    @media all and (min-width: 1024px) {
      div.rowDesktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
        width: 100%; } }
  div.rowDesktopEq {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-right: 5rem; }
    @media all and (min-width: 768px) and (max-width: 1024px) {
      div.rowDesktopEq {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px;
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }
    @media all and (min-width: 1024px) {
      div.rowDesktopEq {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 10px;
        width: 100%;
        margin-left: 0;
        margin-right: 0; } }
  div.space {
    margin-bottom: 4rem; }
    @media all and (min-width: 768px) {
      div.space {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 10px;
        width: 100%; } }
  div.column {
    flex: 1;
    height: 180px;
    margin-bottom: 60px;
    line-height: 20px;
    text-align: center; }
    div.column span {
      display: block;
      max-width: 100%; }
    div.column p:hover {
      color: #D9C7E8; }
    div.column img {
      width: 127px;
      height: 134px;
      max-width: 80%;
      max-height: 80%;
      border-radius: 50px;
      transition: all 300ms ease-in-out; }
    div.column .separador {
      height: 1px;
      max-width: 100%;
      width: 150px;
      display: inline-block;
      justify-content: center;
      position: relative;
      margin: 5px;
      background-color: #D9C7E8; }
      div.column .separador:before {
        content: "";
        width: 10px;
        height: 10px;
        top: -4px;
        background-color: #D9C7E8;
        position: absolute;
        left: calc(50% - 5px);
        transform: rotateZ(45deg); }
  div.card {
    background-color: #5A4669;
    border: none;
    margin-top: 3rem; }
    div.card .member {
      border-radius: 80px; }
      div.card .member:hover {
        border-color: #242434;
        border: 5px solid; }
    @media all and (min-width: 768px) and (max-width: 1024px) {
      div.card {
        width: 20rem;
        margin-top: 4rem; } }
    @media all and (min-width: 1024px) {
      div.card {
        width: 20rem;
        margin-top: 4rem; } }
  div.card-body {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    padding-right: 0; }
    div.card-body h5 {
      text-align: center;
      font-weight: bold; }
    div.card-body .btn {
      margin-top: auto;
      width: 100%; }
      div.card-body .btn:focus {
        outline: none;
        box-shadow: none; }
      div.card-body .btn.btnColor {
        color: #5A4669;
        background-color: #D9C7E8;
        border-color: #D9C7E8; }
        div.card-body .btn.btnColor:hover {
          color: #D9C7E8;
          background-color: #242434; }
  div.modal-content {
    background-color: #5A4669; }
  @media all and (min-width: 768px) {
    div.cardJuegos {
      width: 35rem; } }
  div.cardJuegos .carousel {
    width: auto;
    height: 300px; }
    div.cardJuegos .carousel .imgC {
      display: block;
      width: 100%;
      height: 275px;
      object-fit: scale-down; }
      @media all and (min-width: 768px) {
        div.cardJuegos .carousel .imgC {
          height: 300px; } }
  div.cardJuegos .play {
    width: 25px;
    height: 25px; }
  div.contenedorimg {
    display: grid;
    grid-template-areas: "." "." ".";
    justify-items: center;
    grid-row-gap: 5px; }
    div.contenedorimg img {
      width: 90%;
      height: 90%;
      object-fit: scale-down;
      border: 2px dashed #D9C7E8;
      transition: all 300ms ease-in-out; }
      div.contenedorimg img.logo {
        border: none; }
    @media all and (min-width: 768px) {
      div.contenedorimg {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 5px;
        grid-template-areas: ". . ." ". logo ." ". . .";
        justify-items: center; }
        div.contenedorimg img.logo {
          grid-area: logo;
          border: none; } }
  div .arte {
    grid-column: span 1; }
    @media all and (min-width: 768px) {
      div .arte {
        grid-column: span 1;
        width: 360px;
        height: 660px; } }
  div.form-floating #floatingTextarea2 {
    height: 300px; }
  div .form-control, div .form-select, div.form-floating {
    background-color: #242434;
    color: #D9C7E8;
    border-color: #6C7C9C;
    border-top: none;
    border-right: none;
    border-left: none; }
    div .form-control:focus, div .form-select:focus, div.form-floating:focus {
      background-color: #242434;
      color: #D9C7E8;
      outline: none;
      box-shadow: none; }
    div .form-control::placeholder, div .form-select::placeholder, div.form-floating::placeholder {
      color: #D9C7E8; }
  div.ratio {
    margin-top: 5rem; }
    @media all and (min-width: 768px) {
      div.ratio iframe.mapa {
        padding-left: 100px;
        padding-right: 100px; } }

.atrImg {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
  width: 100%;
  object-fit: scale-down; }

.medioTitulo {
  margin-bottom: 20px;
  text-align: center; }

.title {
  color: #D9C7E8;
  font-size: 22px; }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .title {
      font-size: 28px; } }
  @media all and (min-width: 1024px) {
    .title {
      font-size: 40px; } }

.subtitle {
  color: #6C7C9C;
  text-align: center;
  font-size: 12px; }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .subtitle {
      font-size: 16px; } }
  @media all and (min-width: 1024px) {
    .subtitle {
      font-size: 20px; } }

.frase {
  margin-top: auto; }

span.name {
  padding-top: 10px;
  font-size: 14px; }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    span.name {
      font-size: 16px; } }
  @media all and (min-width: 1024px) {
    span.name {
      font-size: 20px; } }

.nameColor {
  color: #242434;
  text-align: center; }

.cargo {
  text-align: center;
  font-weight: bold;
  font-size: 12px; }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .cargo {
      font-size: 14px; } }
  @media all and (min-width: 1024px) {
    .cargo {
      font-size: 18px; } }

footer {
  background-color: #5A4669;
  text-align: left;
  color: #242434;
  height: 100%;
  padding-bottom: 1rem; }

.footer {
  padding-left: 0.5rem;
  font-size: 11px; }
  @media all and (min-width: 768px) and (max-width: 1024px) {
    .footer {
      font-size: 13px; } }
  @media all and (min-width: 1024px) {
    .footer {
      font-size: 15px; } }
  .footer a {
    text-decoration: none;
    color: #D9C7E8; }
    .footer a img {
      width: 25px;
      height: 25px; }
