body	{
	font-family: 'Cultive Mono', monospace;
}
.navbarBg {
	background-color: #5A4669;
}
.conHover {
	&:hover{
		transform: scale(1.1);
	}
}
.navbar-nav {
	.nav-item{
		.nav-link{
			color: $colorTtl;
			@media all and (min-width: 992px){
				transition: all 300ms ease-in-out;
				&:hover{
					color: $bgColor;
					transform: scale(1.2);
				}
			}
			&.active{
				color: $bgColor;
			}
		}
	}
}
a {
	&.nav-link {
		font-size: map-get($fSize, s-s);
		color: $colorTtl;
		@media all and (min-width: $bpoint-md) and (max-width: $bpoint-xl){
			font-size: map-get($fSize, m-s);
		}
		@media all and (min-width: $bpoint-xl){
			font-size: map-get($fSize, m-m);
		}
	}
}
.homeLogo {
	width: 50px;
	height: 50px;
}
.logo {
	padding-top: $diezPx;
	color: $colorTtl;
	text-align: center;
	padding-bottom: $diezPx;
	font-size: map-get($fSize, s-l);
	@media all and (min-width: $bpoint-md) and (max-width: $bpoint-xl){
		font-size: map-get($fSize, m-xl);
	}
	@media all and (min-width: $bpoint-xl){
		font-size: map-get($fSize, l-xl);
	}
}
@keyframes anima {
	0% {
		top: 75%;
	}
	100% {
		top: 0;
		transform: rotateY(360deg);
	}
}
div {
	color: $colorSttl;
	&.caja {
		width: 100%;
		height: 50px;
		position: relative;
		.anima {
			left: 48%;
			position: absolute;
			width: 50px;
			height: 50px;
			animation-name: anima;
			animation-iteration-count: 1;
			animation-duration: 1s;
		}
	}
	&#fondo {
		background-color: $bgColor;
	}
	&.dashed {
		padding: $diezPx;
		padding-top: 20px;
		border-style: dashed;
		border-color: $colorTtl;
		border-radius: 50px;
	}
	p {
		&.izquierdaTitulo{
			padding: 0.5rem;
		}
		&.top {
			margin-top: 1.5rem;
		}
		&.topb {
			@media all and (min-width: $bpoint-md) and (max-width: $bpoint-xl){
				margin-top: 7rem;
			}
			@media all and (min-width: $bpoint-xl){
				margin-top: 9rem;
			}
		}
		&.topl {
			@media all and (min-width: $bpoint-md) and (max-width: $bpoint-xl){
				margin-top: 10rem;
			}
			@media all and (min-width: $bpoint-xl){
				margin-top: 12rem;
			}
		}
	}
	&.medio{
		max-height: 50%;
		margin-top: 50px;
	}
	&.rowContacto{
		@include flexbox(space-evenly);
	}
	&.rowDesktop {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		@media all and (min-width: $bpoint-md) and (max-width: $bpoint-xl){
			@include flexbox(space-between);
		}
		@media all and (min-width: $bpoint-xl){
			@include flexbox(space-between);			
		}
	}
	&.rowDesktopEq {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		margin-left: 5rem;
		margin-right: 5rem;
		@media all and (min-width: $bpoint-md) and (max-width: $bpoint-xl){
			@include flexbox(space-evenly);
			margin-left: 0;
			margin-right: 0;
		}
		@media all and (min-width: $bpoint-xl){
			@include flexbox(space-between);
			margin-left: 0;
			margin-right: 0;			
		}
	}
	&.space {
		margin-bottom: 4rem;
		@media all and (min-width: $bpoint-md){
			@include flexbox(space-evenly);
		}
	}
	&.column{
		@include flexColumn(180px);
		span{
			display: block;
			max-width: 100%;
			&:hover {
				color: $colorTtl;
			}
		}
		p{
			&:hover {
				color: $colorTtl;
			}
		}
		img{
			width: 127px;
			height: 134px;
			@include imgColumn(50px);
		}
	}
	&.card {
		background-color: #5A4669;
		border: none;
		margin-top: 3rem;
		.member {
			border-radius: 80px;
			&:hover {
				border-color: $bgColor;
				border: 5px solid;
			}
		}			
		@media all and (min-width: $bpoint-md) and (max-width: $bpoint-xl){
			width: 20rem;
			background-color: #5A4669;
			border: none;
			margin-top: 4rem;	
		}
		@media all and (min-width: $bpoint-xl){
			width: 20rem;
			background-color: #5A4669;
			border: none;
			margin-top: 4rem;
		}
	}
	&.card-body {
		display: flex;
		flex-direction: column;
		padding-left: 0;
		padding-right: 0;
		.btn {
			margin-top: auto;
		}
	}
	iframe {
		&.mapa{
			@media all and (min-width: $bpoint-md){
				padding-left: 100px;
				padding-right: 100px;
			}
		}
	}
	&.modal-content {
		background-color: #5A4669;
	}
}
.btn {
	width: 100%;
	&:focus{
		outline: none;
		box-shadow: none;
	}
	&.btnColor{
		color: #5A4669;
		background-color: $colorTtl;
		border-color: $colorTtl;
		&:hover {
			color: $colorTtl;
			background-color: $bgColor;
		}
	}
}
.atrImg {
	width: 100px;
	height: 100px;
	@include flexbox(center);
	object-fit: scale-down;
}
.medioTitulo {
	margin-bottom: 20px;
	text-align: center;
}
.title {
	color: $colorTtl;
	font-size: map-get($fSize, s-m);
	@media all and (min-width: $bpoint-md) and (max-width: $bpoint-xl){
		font-size: map-get($fSize, m-l);
	}
	@media all and (min-width: $bpoint-xl){
		font-size: map-get($fSize, l-l);
	}
}
.subtitle {
	color: $colorSttl;
	text-align: center;
	font-size: map-get($fSize, s-s);
	@media all and (min-width: $bpoint-md) and (max-width: $bpoint-xl){
		font-size: map-get($fSize, m-m);
	}
	@media all and (min-width: $bpoint-xl){
		font-size: map-get($fSize, l-m);
	}
}
.subtitleJuegos {
	@extend .subtitle;
	text-align: left;
}
span{
	&.name{
		padding-top: 10px;
		font-size: map-get($fSize, m-s);
		@media all and (min-width: $bpoint-md) and (max-width: $bpoint-xl){
			font-size: map-get($fSize, m-m);
		}
		@media all and (min-width: $bpoint-xl){
			font-size: map-get($fSize, l-m);
		}
	}
}
.nameColor {
	color: $colorTtl;
	text-align: center;
}
.cargo {
	text-align: center;
	font-weight: bold;
	&:hover {
		color: $bgColor;
	}
	@media all and (min-width: $bpoint-xl){
		padding-top: 10px;
	}
}
/*arte desktop*/
.contenedorimg {
	display: grid;
	grid-template-areas:
	"."
	"."
	".";
	justify-items: center;
	grid-row-gap: 20px;
	img {
		width: 80%;
		height: 80%;
		object-fit: contain;
		border: 2px dashed #D9C7E8;
		transition: all 300ms ease-in-out;
		&.logo {
			border: none;
		}
	}
	@media all and (min-width: $bpoint-md) and (max-width: $bpoint-xl){
		display: grid;
		grid-template-areas:
		". . ."
		". logo ."
		". . .";
		justify-items: center;
		grid-row-gap: 20px;
		img {
			&.logo {
				grid-area: logo;
				border: none;
			}
		}
	}
	@media all and (min-width: $bpoint-xl){
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
		grid-template-areas:
		". . ."
		". logo ."
		". . .";
		justify-items: center;
		img {
			&.logo {
				grid-area: logo;
				border: none;
			}			
		}		
	}
}
.arte {
	grid-column: span 1;
	@media all and (min-width: $bpoint-md) and (max-width: $bpoint-xl){
		grid-column: span 1;
		@include medidaImgArte;
		object-fit: scale-down;
	}
	@media all and (min-width: $bpoint-xl){
		grid-column: span 1;
		@include medidaImgArte;	
	}
}
/*fin grid arte desktop*/
footer {
	background-color: #5A4669;
	text-align: left;
	color: $bgColor;
	height: 100%;
	padding-bottom: 1rem;
}
.footer{
	padding-left: 0.5rem;
	font-size: 11px;
	@media all and (min-width: $bpoint-md) and (max-width: $bpoint-xl){
		font-size: 13px;
	}
	@media all and (min-width: $bpoint-xl){
		font-size: 15px;
	}
	a{
		text-decoration: none;
		color: $colorTtl;
		& img {
			width: 25px;
			height: 25px;
		}	
	}
}