$bgColor: #242434;
$colorTtl: #D9C7E8;
$colorSttl: #6C7C9C;
$bpoint-md: 768px;
$bpoint-xl: 1024px;
$diezPx: 10px;
$fSize:(
	s-s: 12px,
	s-m: 22px,
	s-l: 45px,
	m-s: 14px,
	m-m: 16px,
	m-l: 28px,
	m-xl: 65px,
	l-m: 20px,
	l-l: 40px,
	l-xl: 80px
);